*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
header{
    background-color: rgba(111, 142, 209, 0.74);
    text-align: center;
    padding: 20px;
}
h1,p#intro{
    color: white;
    padding: 10px;
}
.my-name{
    color: royalblue;
}