* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-image: url("../images/room.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 30%;
    text-align: center;
    position: relative;
}

.header {
    position: absolute;
    bottom: 1vw;
    left: 25vw;
    right: 25vw;
}

header h1 {
    font-size: 5vw;
}

header hr {
    width: 20%;
    margin: 10px auto;
}

.pad10 {
    padding: 10px;
}

.mar10 {
    margin: 10px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1vw;
    color: white;
    font-size: 14px;
}

nav a:hover {
    background-color: #333;
}

nav {
    background-color: #111;
    display: flex;
}

#main {
    text-align: center;
}

.my-img {
    width: 30vh;
    height: auto;
    padding: 2vh;
    border-radius: 50%;
}

footer {
    color: white;
    background-color: #111;
    padding: 2vh;
    text-align: center;
}

#main p {
    padding: 2vh;
    font-size: 3vh;
}

#social {
    display: flex;
    justify-content: center;
}

.social {
    width: 3vh;
    height: auto;
    margin: 1vh;
}